@mixin container {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 620px;
  }
  @media #{$desktop-width} {
    width: 960px;
  }
}

@mixin container-fluid () {
  width: auto;
  margin: 0 auto;
  @media #{$tablet-widths} {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
