@import "../var";

.reviews {
  position: relative;
  margin-bottom: 150px!important;
}
.reviews__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  p {
    margin: 0;
    text-align: center;
    line-height: 30px;
  }
  &--second,
  &--third {
    display: none;
  }
}
.reviews__author-name {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}
.reviews__author-info {
  display: none;
  font-size: 14px;
  font-weight: normal;
  color: #81878f;
}

@media #{$tablet-widths} {

  .reviews__author-info {
    display: block;
  }
  .reviews__author-name {
    display: block;
    margin-bottom: 0;
    order: 2;
  }
  .reviews__items {
    p {
      margin-bottom: 40px;
      font-size: 18px;
    }
  }
}
@media #{$desktop-width} {
  .reviews::before {
      content: "";
      position: absolute;
      top: -120px;
      left: 47%;
      width: 80px;
      height: 63px;
      background: url("../../img/spritesheet.png") no-repeat -343px -72px;
      z-index: 999;
    }
  .reviews__items {
    margin-bottom: 150px;
    p {
      width: 700px;
    }
  }
  .reviews__author-info {
    color: #000000;
  }

}
